.image {
    width: 300px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    background: white;
    border-radius: 32px;
    color: black;
    margin: 32px;
    width: 600px;
    box-shadow: 0px 0px 6px 12px #eee;
}
